@{
    ViewData["Title"] = "Home Page";
    int skip = ViewBag.Skip;
    int take = ViewBag.Take;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in ViewBag.Books)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Reviews", "Review", new { bookId = item.Id })">@item.Title</a>
                </td>
                <td>@item.Author</td>
            </tr>
        }

        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(skip == 0 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { Skip = Math.Max(0, skip - take), Take = take })">Previous</a>
            </li>

            <li class="page-item @(ViewBag.hasNextPage ? "" : "disabled")">
                <a class="page-link" href="@Url.Action("Index", new { Skip = skip + take, Take = take })">Next</a>
            </li>
        </ul>
    </nav>

</div>
